{% extends 'partials/variables.html.twig' %}

{% set module = page.header.contents %}
{% set list_items = page.header.about_sections %}


{% block render_block %}

	<div class="about-conpany-section about-listing-animation {{ module.parent_classes }}" >
		<div class="container">

			<div class="wrapper">

				<div class="header-content">
					<h3>{{ module.title.translatable|striptags('<span>')|raw }}</h3>

					<div class="actions">

						<p>{{ module.description.translatable|striptags('<span>')|raw }}</p>
						<a href="{{ grav.language.active }}/contact" class="companion-btn">{{ module.btn_text.translatable }}</a>
					</div>					
				</div>

				<div class="contents-wrapper">					

					<swiper-container class="swiper-about-company">
						{% for section in page.header.about_sections %}
							<swiper-slide>

								<div class="head-content">
									<span>
										<img src="{{ page.media[section.icon].url }}" alt="Icon" />
									</span>
									<h5>{{ section.title.translatable }}</h5>
								
								</div>									
								<p>{{ section.description.translatable }}</p>	
							
							</swiper-slide>
						{% endfor %}

						<div class="navigations-custom-company">						

							<div class="swiper-button-next">
								<img src="{{ url('theme://images/arrow-right.svg') }}" />
							</div>

							<div class="swiper-button-prev">
								<img src="{{ url('theme://images/arrow-left.svg') }}" />
							</div>						

						</div>

					</swiper-container>


				</div>			
			</div>

			
		</div>
	</div>

<script>
	var swiper = new Swiper(".swiper-about-company", {
		slidesPerView: 1,
		spaceBetween: 30,
		autoplay: true,
		loop: true,
		centeredSlides: true,
		rtl: true,

		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},

		breakpoints: {
			// when window width is >= 320px (example mobile breakpoint)
			320: {
			slidesPerView: 1,
			},
			// when window width is >= 480px (another example mobile breakpoint)
			480: {
			slidesPerView: 1,
			},
			// when window width is >= 768px (example tablet breakpoint)
			768: {
			slidesPerView: 1, // Show 2 slides on tablets and larger
			},
			// when window width is >= 992px (example desktop breakpoint)
			992: {
			slidesPerView: 1, // Show 3 slides on desktops and larger
			},
		},
	});
</script>

{% endblock %}
