{% extends 'partials/variables.html.twig' %}

{% set module = page.header.offer %}
{% block render_block %}
	{% set left = page.media[page.header.offer.offer_img_left].url ?? '' %}
	{% set right = page.media[page.header.offer.offer_img_right].url ?? '' %}

	{% set left_bg = page.media[page.header.offer.offer_img_bg].url ?? '' %}
	<div class="offer {{ module.offer_parent_class }}" style="{% if(left_bg) %}background-image: url('{{ left_bg }}'){% endif %}">
		<div class="container">
			<div class="offer-text">

				{% if left != '' %}
				

					<div class="offer_left" >
						<img class="" src="{{ left }}" alt="icon"/>


						{% set offer_top_left = url('theme://images/offer_top_left.png') %}
						<img class="offer_top_left" src="{{ offer_top_left }}" alt="icon"/>
					</div>
				{% endif %}

				<div class="offer-content"> 
					<h1 class="offer-title">
						{{ module.h1.translatable|striptags('<span>')|raw }}
					</h1>

					<p class="">{{ module.text.translatable|striptags('<span>')|raw  }}</p>

					{% for button in module.buttons  %}
						<a class="button " href="{{ home_url|e }}{{ button.link }}">

							<span>{{ button.text.translatable|striptags('</br>')|raw }}</span>

							<svg xmlns="http://www.w3.org/2000/svg" width="23" height="24" viewBox="0 0 23 24" fill="none">
								<rect y="0.318359" width="23" height="23.364" rx="8" fill="#085C44"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M11.6716 8.46481L14.8536 11.6468C15.0488 11.842 15.0488 12.1586 14.8536 12.3539L11.6716 15.5359C11.4763 15.7311 11.1597 15.7311 10.9645 15.5359C10.7692 15.3406 10.7692 15.024 10.9645 14.8288L13.2929 12.5003L8.5 12.5003C8.22386 12.5003 8 12.2765 8 12.0003C8 11.7242 8.22386 11.5003 8.5 11.5003L13.2929 11.5003L10.9645 9.17191C10.7692 8.97665 10.7692 8.66007 10.9645 8.46481C11.1597 8.26954 11.4763 8.26954 11.6716 8.46481Z" fill="#ECF86E"/>
							</svg>
							
						</a>
					{% endfor %}

				</div>

				{% if right != '' %}
				

					<div class="offer_right" >
						<img class="" src="{{ right }}" alt="icon"/>

						{% set offer_btm_right = url('theme://images/offer_btm_right.png') %}
						<img class="offer_btm_right" src="{{ offer_btm_right }}" alt="icon"/>

					</div>
				{% endif %}

				
			</div>

		</div>
	</div>
{% endblock %}
