{% extends 'partials/variables.html.twig' %}

{% set contents = page.header.module %}
{% set whyChooseItems = page.header.why_choose %}

{% block render_block %}
    <div class="why-choose-section">
        <div class="container">

            <div class="why-choose-wrapper">

                <div class="header-content">
                    <h3 class="section-title">{{ contents.title.translatable }}</h3>
                    <p class="brief">{{ contents.brief.translatable }}<p>
                </div>

                <div class="contents-wrapper">

                    <div class="item item-1 top-left">
                        <img src="{{ page.media[whyChooseItems[0].icon].url }}" alt="Icon"/>
                        <span class="brief-text">{{ whyChooseItems[0].title.translatable }}</span>
                    </div>

                    <div class="item item-2 bottom-left">
                        <img src="{{ page.media[whyChooseItems[1].icon].url }}" alt="Icon"/>
                        <span class="brief-text">{{ whyChooseItems[1].title.translatable }}</span>
                    </div>

                    <div class="item item-3 top-right">
                        <img src="{{ page.media[whyChooseItems[2].icon].url }}" alt="Icon"/>
                        <span class="brief-text">{{ whyChooseItems[2].title.translatable }}</span>
                    </div>

                    <div class="item item-4 bottom-right">
                        <img src="{{ page.media[whyChooseItems[3].icon].url }}" alt="Icon"/>
                        <span class="brief-text">{{ whyChooseItems[3].title.translatable }}</span>
                    </div>

                    <div class="video-box">

                        <video autoplay muted loop poster="{{ page.media[contents.poster].url }}" width="100%">
                            <source src="{{ url('theme://images/why-choose-video.mp4') }}" type="video/mp4">
                            <source src="{{ url('theme://images/why-choose-video.mp4') }}" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                    
                    </div>

                    <div class="items-mobile-view">

                        <div class=" item-1 item-for-mobile">
                            <img src="{{ page.media[whyChooseItems[0].icon].url }}" alt="Icon"/>
                            <span class="brief-text">{{ whyChooseItems[0].title.translatable }}</span>
                        </div>

                        <div class=" item-2 item-for-mobile">
                            <img src="{{ page.media[whyChooseItems[1].icon].url }}" alt="Icon"/>
                            <span class="brief-text">{{ whyChooseItems[1].title.translatable }}</span>
                        </div>

                        <div class=" item-3 item-for-mobile">
                            <img src="{{ page.media[whyChooseItems[2].icon].url }}" alt="Icon"/>
                            <span class="brief-text">{{ whyChooseItems[2].title.translatable }}</span>
                        </div>

                        <div class=" item-4 item-for-mobile">
                            <img src="{{ page.media[whyChooseItems[3].icon].url }}" alt="Icon"/>
                            <span class="brief-text">{{ whyChooseItems[3].title.translatable }}</span>
                        </div>
                    
                    </div>
                
                </div>
             
            </div>

         </div>
    </div>
{% endblock %}
