{% set noHeroContent = page.header.no_hero_content %}
{% set bg = page.media[noHeroContent.section_background_image].url ?? '' %}

<section class="no-hero-section" style="{% if(bg) %}background-image: url('{{ bg }}'){% endif %}">
	<div class="container">
		<div class="no-hero-wrapper">

			<div class="head-content">

				{% if  noHeroContent.title != null %}
					<h1>{{ noHeroContent.title.translatable|raw }}</h1>
				{% else %}
					<h1>{{ page.header.title|raw }}</h1>
				{% endif %}

				{% if  noHeroContent.description != null %}
					<p> {{ noHeroContent.description.translatable|striptags('<br>')|raw }} </p>
				
				{% endif %}

				{% if noHeroContent.buttons != null %}
					<div class="nohero_buttons">
						{% for button in noHeroContent.buttons  %}					
							<a class="button " href="{{ grav.language.active ~ '/contact' }}">
								<span>{{ button.text.translatable }}</span>					
							</a>
						{% endfor %}
					</div>
				{% endif %}
			</div>
			<!-- End head-content-->
			{% if page.header.nohero_imgs %}
				<div class="image-contents">
					
					{% for noHeroImg in page.header.nohero_imgs %}
						<img class="no-hero-img" src="{{ page.media[noHeroImg.image].url }}" alt="no Hero Image" />
					{% endfor %}

				</div>
			{% endif %}
		</div>
		<!-- End no-hero-wrapper -->
	</div>
</section>
